.markdown-body {
  line-height: 1;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 600;
  line-height: 1;
}